<div>
    <button class="custom-button">
      {{ 'Shopify' | link_to: 'https://www.shopify.com'}}
     </button>

     <button class="custom-button">
      {{ 'Miwaza' | link_to: 'https://www.notion.so/Los-Danzantes-Shopify-20e71f2546d44839b884a498cbbce06f'}}
    </button> 
</div>



